*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0057ff;
    height: 100vh;
    grid-template-areas: 
        "head aside"
        "main main"
        "footer footer";
    grid-template-rows: 30px 1frm 40px;
    grid-template-columns: 1fr 80px;
    scroll-timeline: smooth;
}

.head{
    background-color: #FFB800;
    width: 94.98em;
    height: 58px;
    display: flex;
    justify-content: space-between;
}
.imagehead{
    position: relative;
    width: 138px;
    height: 71px;
    left: 42em;
}
.menuicon{
    width: 40px;
    height: 40px;
    padding: 2.5px;
    margin: 10px 8px 6px;

}
.backgroundhead{
    box-sizing: border-box;
    position: relative;
    width: 94.98em;
    height: 46em;
}
.apresentation{
    color: white;
    background-color: #0043c830;
    padding-left: 13.8em;
    font-size: 16.1px;
    font-family: 'Patua One', serif;
    width: 70em;
    height: 90px;
    margin: 16px 10.5em 40px;
    display: flex;
    align-items: center;
}

/*#personagens{
    background-color: #FFB800;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    align-items: stretch;
    width: 122px;
    height: 241px;
}*/

.luffy{
    background-color: #FFB800;
    display: grid;
    align-items: stretch;
    width: 200px; 
    height: 440px;
    margin-left: 3em;
}

.luffy img {
    
}

.aboutluffy{
    font-family: 'Patua One', serif;
    font-size: 14px;
    padding: 6px;
    padding-top: 80px;
    margin: 6px 8px 0px;
    text-align: center;
}